<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <h2>Viewing all stock</h2>
    <h3>Click to browse our...</h3>
    <ul>
        <% models.forEach((model) => { %>
            <li>
                <div class="carCard">
                    <div>
                        <span><%= model.make_name %> <%= model.model_name %></span>
                        <form action="/delete?manufacturer=<%= title %>&id=<%= model.id %>" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                    <img src="<%= model.imgurl %>" alt="<%= model.make_name %> <%= model.model_name %>" width="280px">
                    <span>Price: $<%= model.price %></span>
                    <p><%= model.year %> model <%= model.make_name %> <%= model.model_name %> with <%= model.odometer %> <abbr title="kilometres">kms</abbr> on the odometer</p>
                    <details><%= model.description %></details>
                </div>
            </li>
        <% }); %>
    </ul>
    <a href="/">Return Home</a>
</body>
</html>