<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <section id="detail-modal">
        <img id="modal-image" src="" alt="" width="300px">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, optio. Officiis explicabo adipisci dolor, a nobis ipsa magni minus modi debitis eum accusamus? Ab fugit pariatur consequatur harum eum magnam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae sequi officiis suscipit laboriosam nemo soluta accusantium, facilis eos? Eos illum eius, commodi unde maxime aperiam consequatur laborum nihil officia nisi? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus, non enim maxime dicta iusto nobis laborum, expedita distinctio ut eveniet deleniti odio! Ducimus excepturi nihil at aperiam commodi, velit facere!</p>
        <span><button class="greyButton" id="closeModalBtn">Close <i class="fa-solid fa-xmark"></i></button></span>     
    </section>
    <header class="flex-row-centred-50pxh">
        <h1><%= title %></h1>
    </header>
    <main>
        <ul class="carsGrid">
            <% models.forEach((model) => { %>
                <li>
                    <div class="carCard">
                        <div>
                            <h2><%= model.make_name %> <%= model.model_name %></h2>
                            </div>
                        <div class="carCard-image-container">
                            <img onclick="displayModalWithImage('<%= model.imgurl %>')" src="<%= model.imgurl %>" alt="<%= model.make_name %> <%= model.model_name %>" width="280px">
                        </div>
                        <p><%= model.year %> model <%= model.make_name %> <%= model.model_name %></p>
                        <span class="carCard-info">
                            <div><i class="fa-solid fa-dollar-sign" title="Price"></i> <%= model.price %></div>
                            <div><i class="fa-solid fa-gauge" title="Kilometres on odometer"></i> <%= model.odometer %> <abbr title="kilometres">kms</abbr></div>
                        </span>
                        <div class="carCard-menu">
                            <button class="buttonLink" onclick="displayModalWithImage('<%= model.imgurl %>')">Details</button>
                            <form action="/delete/model?manufacturer=<%= title %>&id=<%= model.id %>" method="post">
                                <button class="buttonLink" type="submit" onclick="return checkPassword()">Delete</button>
                            </form>
                            <a href="/update/model?modelId=<%= model.id %>"><button class="buttonLink">Update</button></a>
                        </div>
                    </div>
                </li>
            <% }); %>
        </ul>
    </main>
    <nav>
        <a class="buttonLink" href="/"><button>Return Home</button></a>
    </nav>
    <% if (title !== 'All models') { %>
        <form action="/delete/manufacturer?manufacturer=<%= title %>" method="post">
            <button type="submit" onclick="return confirm('Are you sure? Deleting the manufacturer will also delete all cars made by that manufacturer. Press OK to proceed or Cancel to abort.')">Delete Manufacturer</button>
        </form>
        <a href="/update/manufacturer?name=<%= title %>">Update Manufacturer</a>
    <% } %>
    <%- include('../partials/footer') %>
    <script>
        const adminpw = "<%= adminpw %>";

        const closeModalBtn = document.querySelector("#closeModalBtn");
        const modal = document.querySelector("#detail-modal");
        const modalImg = document.querySelector("#modal-image");

        closeModalBtn.addEventListener('click', () => {
            modal.style.display = "none";
            document.body.style.overflow = "auto";
        });

        modal.addEventListener('click', () => {
            modal.style.display = "none";
            document.body.style.overflow = "auto";
        });

        function displayModalWithImage(img) {
            modalImg.src = img;
            modal.style.display = "flex";
            modal.focus(); // Set focus on the modal
            document.body.style.overflow = "hidden"; // Disable scrolling on the body
        }

        function checkPassword() {
            enteredPassword = prompt("Please enter the admin password to proceed")
            if (enteredPassword === null) {
                return false;
            } else if (enteredPassword === adminpw) {
                return true;
            } else {
                alert('Incorrect password. Access denied.')
                return false;
            }
        }
    </script>
</body>
</html>