<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <h1><%= title %></h1>
    <% if (locals.errors) { %>
        <ul class="errorList">
            <% errors.forEach((error) => { %>
                <li class="error"><strong>Error:</strong> <%= error.msg %></li>
              <% }) %>
        </ul>
    <% } %>
    <% if (title === 'Update Manufacturer') { %>
        <%- include('../partials/updateManufacturerForm') %>
    <% } %>
    <% if (title === 'Update Model') { %>
        <%- include('../partials/updateModelForm') %>
    <% } %>
    <a href="/">Return Home</a>
</body>
</html>